@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@900&display=swap");
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body {
  background: linear-gradient(#0000e9, #000049);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.header__logo-container {
  cursor: pointer;
  display: none;
}
.header__logo-container__logo {
  font-size: 4.5rem;
  font-family: "Gluten";
  letter-spacing: 0.1rem;
  color: crimson;
  text-shadow: 1px 1px 0px #fff;
}
.header__search-form__input {
  outline: none;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1.5rem;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
.header__search-form__input:focus {
  background: rgba(255, 255, 255, 0.4);
}
@media only screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    margin: 0 2rem;
    padding: 0 2rem;
  }
  .header__logo-container {
    display: block;
  }
}

.main {
  min-height: 88vh;
}
.main__movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 2rem;
  list-style: none;
  padding: 1rem;
}
.main__movies-list__movie {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50rem;
  overflow: hidden;
}
.main__movies-list__movie:hover .main__movies-list__movie__overview {
  transform: translateY(0);
}
.main__movies-list__movie__figure {
  flex: 1;
  width: 100%;
  height: 90%;
}
.main__movies-list__movie__figure__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__movies-list__movie__details {
  position: relative;
  z-index: 2;
  display: flex;
  flex-basis: 20%;
  padding: 1rem;
  background: white;
}
.main__movies-list__movie__details__title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}
.main__movies-list__movie__details__rating {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.main__movies-list__movie__year {
  font-family: "Gluten";
  position: absolute;
  top: 1%;
  left: 99%;
  transform: translate(-99%, -1%);
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.main__movies-list__movie__overview {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 10%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-size: 1.8rem;
  text-align: justify;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}
.main__arrows {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: red;
  padding: 1rem;
}